<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />



    <!--  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <!--  -->
    <!-- font -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- footer -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

    
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/css/homepage.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <style>body, html {
      height: 100%;
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
    }
    
    .hero-image {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("photographer.jpg");
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }
    
    .hero-text {
      /* text-align: center; */
      position: absolute;
      top: 40%;
      left: 75%;
      transform: translate(-50%, -50%);
      color: white;
    }
    
    .hero-text button {
      border: none;
      outline: 0;
      display: inline-block;
      padding: 10px 25px;
      color: black;
      background-color: #ddd;
      text-align: center;
      cursor: pointer;
    }
    
    .hero-text button:hover {
      background-color: #555;
      color: white;
    }
    </style></style>
    <title>Hiệu Thuốc Số 09</title>
  </head>
  <body>
    <div class="topnav" id="myTopnav">
      <a href="http://localhost:3000/homepage" class="active">Trang Chủ</a>
      <a href="http://localhost:3000/managepage">Quản Lý</a>
      <a href="http://localhost:3000/sellpage">Bán Thuốc</a>
      <a href="http://localhost:3000/importpage">Nhập Kho</a>
      <a href="http://localhost:3000/clientspage">Khách Hàng </a>
      <a href="http://localhost:3000/userspage">Nhân Viên</a>
      <a href="http://localhost:3000/distributorspage">Nhà Phân Phối</a>
      <a href="http://localhost:3000/statisticalpage">Thống Kê</a>

      <div class="dropdown" style="float: right">
        <button class="dropbtn">
          <%=currentUser%>
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="javascript:void(0);">Log out</a>
        </div>
      </div>

      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
    <!-- https://img.freepik.com/free-photo/shopping-cart-with-pill-foils-copy-space_23-2148533453.jpg?w=2000 -->
<!--  -->
    <div class="hero-image" style="background-image: url('https://scontent.fhan2-5.fna.fbcdn.net/v/t1.15752-9/300701339_2313896198761713_1367664680999342531_n.jpg?stp=dst-jpg_s2048x2048&_nc_cat=109&ccb=1-7&_nc_sid=ae9488&_nc_ohc=YxPSP-QunSUAX9OZD4F&tn=s7gChl5u4nYEFXPV&_nc_ht=scontent.fhan2-5.fna&oh=03_AdTo7U0R09UTYe1Ym9V5jcW66sb_lf2w1-LlvTFgi08OGA&oe=63DF95AA');background-position-y: -340px">
      <div class="hero-text">
        <h1 style="font-size:50px; color: royalblue"><b>HIỆU THUỐC SỐ 09</b></h1>
      </div>
    </div>

    <!-- footer -->
    <div class="footer-dark" style="position: fixed; bottom: 0; width: 100%;">
      <footer>
          <div class="container">
              <div class="row">
                <div class="col-sm-6 col-md-3 item">
                  <h3>Các dịch vụ</h3>
                  <ul>
                      <li><a href="#">Quản lý thuốc</a></li>
                      <li><a href="#">Quản lý hóa đơn</a></li>
                      <li><a href="#">Báo cáo thống kê</a></li>
                  </ul>
              </div>
                  <div class="col-sm-6 col-md-3 item">
                    <h3>Thông tin</h3>
                    <ul>
                        <li><a href="#">Giới thiệu</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Liên hệ</a></li>
                    </ul>
                </div>
                  <div class="col-md-6 item text">
                      <h3>Hiệu thuốc số 09</h3>
                      <p>Hiệu Thuốc Số 09 – 09 Pharmacy là nhà thuốc tây chuyên bán các sản phẩm Dược phẩm thành phẩm bao gồm: Thuốc kê đơn theo đơn bác sĩ, thuốc không kê đơn, thuốc đông y, thực phẩm bảo vệ sức khỏe, vitamin tăng cường sức khỏe.</p>
                  </div>
                  <!-- <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div> -->
              </div>
              <p class="copyright">Hiệu thuốc số 09 © 20221</p>
          </div>
      </footer>
    </div>

    <script>
      function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
          x.className += " responsive";
        } else {
          x.className = "topnav";
        }
      }

      //  Check login status
      let username = document.getElementsByClassName("dropbtn")[0].innerText;
      let logout = document.getElementsByClassName("dropdown-content")[0];

      let checklogin = async () => {
        let response = await fetch(
          "http://localhost:3000/loginpage/checklogin",
          {
            method: "GET",
            headers: {
              accept: "application/json",
            },
          }
        );

        let { result } = await response.json();
        if (result === "Logout") {
          alert("You are logout! Please login again");
          window.location = "http://localhost:3000";
        }
      };

      checklogin();

      logout.addEventListener("click", async () => {
        await fetch(`http://localhost:3000/loginpage/logout`, {
          method: "delete",
        });
        window.location = "http://localhost:3000";
      });
    </script>
  </body>
</html>
